@charset "UTF-8";

/* Typical Device Breakpoints
_____________________________

Telas Pequenas = até 600px
Celulares = de 600px até 768px
Tablets = de 768px até 992px
Desktops = de 992px até 1200px
Telas Grandes = acima de 1200px
_______________________________ */

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablet */

    *{
        margin: 0px;
        padding: 0px;
    }

    html, body {
        background-image: linear-gradient(to bottom, #002654, #5E89C2);
        width: 100vw;
        height: 100vh;
    }

    section {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 20px;
        width: 80vw ;
        height: 280px;
        box-shadow: 1px 5px 5px #0c0c0ca2;
    }

    div#imagem {
        position: absolute;
        width: 30%;
        height: 100%;
        background: url('../imagens/mecanico2.jpg') no-repeat left center / cover;
        border-radius: 20px 0 0 20px;
    }

    div#formulario {
        position: absolute;
        left: 30%;
        width: 70%;
    }

    h1 {
        text-align: center;
        margin-bottom: 5px;
    }
    
    h5 {
        text-align: center;
    }

    p {
        position: relative;
        text-align: left;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */

    html, body {
        background-color: white ;
        width: 100vw;
        height: 100vh;
    }

}